.link_data {
    flex-grow: 1;
	width: 0px;
	object-fit: cover;
	transition: .5s ease;
}

.link_data:hover {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
	cursor: crosshair;
	width: 5rem; 
    -moz-box-shadow: 0px 3px 5px #222;
    -webkit-box-shadow: 0px 3px 5px #222;
    box-shadow: 0px 3px 5px #222;
    /* filter: contrast(120%); */
}
